###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> my files to ignore ###
/Application/log/*?.*
/Application/db_vol/*?.*
/Application/db_vol/aria_log*
Application/db_vol/ib*
Application/db_vol/mariadb_upgrade_info
Application/db_vol/my_database/
Application/db_vol/mysql/
Application/db_vol/performance_schema/
Application/db_vol/sys/
Application/db_vol/undo*
*.log
/public/images/captcha/
.phpunit.cache
###< my files to ignore ###
.codegpt