.mainImg {
	background-image: url("/images/home-main-img.webp");
	background-size: cover;
	height: 11em;
}

.menuImg {
	background-image: url("/images/menu-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.aperitivos, .aperitifs {
	background-image: url("/images/aperitivos-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.entrantes, .starters {
	background-image: url("/images/entrantes-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.ensaladas, .salads {
	background-image: url("/images/ensaladas-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.carnes, .meats {
	background-image: url("/images/carnes-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.pescados, .fishes {
	background-image: url("/images/pescados-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.arroces, .rices {
	background-image: url("/images/arroces-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.postres, .desserts {
	background-image: url("/images/postres-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.cafés, .coffees {
	background-image: url("/images/coffe-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.tintos, .reds {
	background-image: url("/images/tintos-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.blancos, .whites {
	background-image: url("/images/blancos-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.rosados, .rosés {
	background-image: url("/images/rosados-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.champagne {
	background-image: url("/images/champagne-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.cavas, .sparkings {
	background-image: url("/images/cavas-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.licores, .liquors {
	background-image: url("/images/licores-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.bebidas, .drinks {
	background-image: url("/images/bebidas-page-img.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}

.header {
	background-image: url("/images/header.jpg");
	background-size: cover;
	min-height: 11em;
	height: auto;
	background-position: center;	
}

.reservations {
	background-image: url("/images/reservations.webp");
	background-size: cover;
	height: 11em;
	background-position: center;
}