/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

#main-nav{
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
}

.dark-mode .mainImg,
.dark-mode .col.mb-3.mainImg {
    /* Adjuns images and background if necessary */
}

.dark-mode a {
    color: #b0b0b0;
}

.dark-mode #main-nav a {
    border: none;
}

.dark-mode .text-muted,
.dark-mode small {
    color: #a0a0a0;
}

.dark-mode .card,
.dark-mode .panel {
    background-color: #1f1f1f;
    border: 1px solid #333;
}

.dark-mode input[type="text"],
.dark-mode textarea {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #444;
}

.dark-mode .btn-link {
    color: #b0b0b0;
}

footer {
    background: #1f1f1f;
}

.menuDia {
    background-color: #181d2d;
}

.mainLogo {
    background-color: #284b6ecf;
}

.credentials input[type="submit"]:focus {
	background-color: rgba(179, 179, 179, 0.39);
}

#main-logo {
    background: none;
}
